---
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 128
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
IndentAccessModifiers: false
AccessModifierOffset: -2
IndentPPDirectives: None
SortIncludes: CaseSensitive
SpaceAfterTemplateKeyword: true
PointerAlignment: Left
DerivePointerAlignment: false
...
